form.quick-form {
	border: 1px solid;

	label,
	input,
	textarea {
		box-sizing: border-box;
	}

	input,
	textarea {
		padding: 5px 10px;
		font-size: 1rem;
		line-height: 1.5;
	}

	.qf-required {
		color: #f00;
	}
}
